.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-card);
  padding: 12px;
  border-radius: 16px;
  box-shadow: 0 4px 2px -1px rgb(0 0 0 / 0.070);
  border: 1px solid var(--color-border);
  margin-bottom: 3rem;
}

.logo {
  user-select: none;
  pointer-events: none;
}

.toogleTheme {
  padding: 12px;
  border-radius: 12px;
  background-color: var(--color-bg-theme);
}

.toogleTheme img {
  transition: all 0.2s ease-out;
}

.toogleTheme:hover img {
  rotate: 30deg;
}
