@import 'variables.css';

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-card);
  padding: 12px;
  border-radius: var(--border-card-radius);
  box-shadow: 0 4px 2px -1px rgb(0 0 0 / 0.075);
  margin-bottom: 4rem;
}

.toogleTheme {
  padding: 12px;
  border-radius: var(--border-button-radius);
  border: none;
  background-color: var(--color-bg-theme);
}