body {
  min-height: 100vh;
  background-image: linear-gradient(#ebf2fc, #effbf9);
  font-family: var(--font-title);
  transition: background-image 0.3s ease-out;
}

button:active {
  scale: calc(0.95);
  box-shadow: none;
}

[data-theme='dark'] body {
  background-image: linear-gradient(#04091c, #0a1542);
}

.container {
  padding: 2rem 4rem;
  margin: 0 auto;
}

@media (width >= 40rem /* 640px */) {
  .container {
    max-width: 40rem /* 640px */;
  }
}

@media (width >= 48rem /* 768px */) {
  .container {
    max-width: 48rem /* 768px */;
  }
}

@media (width >= 64rem /* 1024px */) {
  .container {
    max-width: 64rem /* 1024px */;
  }
}

@media (width >= 80rem /* 1280px */) {
  .container {
    max-width: 80rem /* 1280px */;
  }
}

@media (width >= 96rem /* 1536px */) {
  .container {
    max-width: 96rem /* 1536px */;
  }
}
