.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-title {
  font-size: var(--font-size-title);
  font-family: var(--font-title);
  color: var(--color-text-primary);
  transition: color 0.3s ease-out;
}

.nav-filters {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.filter {
  background-color: var(--color-card);
  font-family: var(--font-ui);
  color: var(--color-text-primary);
  padding: 4px 12px;
  border-radius: 24px;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-button);
  transition: all 0.3s ease-out;
}

.filter:hover {
  background-color: var(--color-card-hover);
}

.filter.on {
  background-color: var(--color-primary);
  color: var(--color-text-hover);
  border-color: var(--color-primary);
}
